.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* Nav */

.nav-header-custom.nav-dark {
    background-color: #282c34;
    color: #ffffff;
  }
  
  .nav-header-custom.nav-dark a {
    color: #ffffff;
  }
  
  .nav-header-custom.nav-dark a:hover {
    color: #f8f9fa;
  }
  

  /* Footer */

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #282c34;
  }
  